@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: auto;
}

::-webkit-scrollbar {
  display: none;
}

body{
	font-family: 'Poppins';
	color: whitesmoke;
	font-weight: bol;
	text-align: center;
	background-color: #00a3cce6; 
	scroll-behavior: none;  
}
img{
   	border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
}
